
<%= render partial: "/layouts/navbar" %>


<div class = "welcome">

	<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:keyword, "Search for:") %>
	<%= text_field_tag(:keyword) %>
	<%= submit_tag("Search") %>
	<% end %>

	<h4> Find the Perfect Gift </h4> 

</div>  
