<%= render partial: "/layouts/navbar" %>

<div class = "welcome-bg">

<div class = "tag-line"> 
	<h1> Find the perfect gift for anyone. </h1>
</div>


<div class="row">
	<div class ="col-lg-4"  id="welcome-button">
		<p><a href="#" class="btn btn-block btn-primary">Sign-Up</a></p>
	</div>

	<div class ="col-lg-4" id="welcome-button">
		<p><a href="#" class="btn btn-block btn-primary" >Login</a></p>
	</div>

	<div class ="col-lg-4" id="welcome-button" >
		<p><a href="#" class="btn btn-block btn-primary" align = "left" >Try It Now</a></p>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<%= form_tag("/search", method: "get") do %>
<%= label_tag "Search for:" %>
<%= text_field_tag(:keywords) %>
<%= submit_tag("Search") %>
<% end %>

 </div> 