<%= render partial: "/layouts/navbar" %>

<% count=0 %><br>
	
	<hr>
		
    <div class="container">
    <div class="row">
        <div class="col-md-12 div">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="col-md-12 div" align="center">
                  <ul class="carousel-inner">
                    <li class="item active">
                          <img src="<%=@finalResponse[0][:image_url] %>" alt="First slide">
                      </li>
                      <% @finalResponse.each do |res|%>
                      <li class="item">
                          <img src="<%= res[:image_url] %>" alt="Second slide">
                      </li>
                      <%end%>
                  </ul>
                  <br>
                  <br>
                  <ol class="carousel-indicators">
                <% @finalResponse.each do |res|%>
                    <li data-target="#carousel-example-generic" data-slide-to="#{count}" class="active"></li>
                    <% count+=1 %>
                <%end%>
                </ol>
                </div>
            </div>
                
                

            </div>
            
        </div>
    </div>
   
      
      
<div id="push">
</div>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6" align="center">
           <a class="btn-floating btn-large waves-effect waves-light red" id='addButton'>
            <i class="material-icons">+</i>
           </a>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-6" align="center">
           <a class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">+</i>
           </a>
      </div>
   </div>

   <div class="col s12" style="display:none" id='recipient-form' >
      <%= form_for [@current_user,@recipient], url: "/users/#{@current_user.id}/recipients", method: "post", remote: true do |f| %>
            <div class="row">
              <div class="input-field col s6">
              <%= f.text_field :name, placeholder: "Recipient Name", :id => "first_name" , :class =>"validate" %>
              </div>
              
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :email, placeholder: "Recipient email", :id => "email" %>
              </div>
            </div>
            
            <%= f.submit "Add recipient", class: "waves-effect waves-light btn", id:"addRecipient" %>
      <%end%>

      
    </div>
      
        
     
      
          
</div>
  

</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>


