<body class="backgroundimg">
	

<%= render partial: "/layouts/navbar" %>	
  <% if flash[:notice] %>
	<div class="alert alert-dismissible alert-success">
  		<button type="button" class="close" data-dismiss="alert">×</button>
  	<%= flash[:notice] %>
	</div>
  <% end %> 
  
    <div class="container">
		<div class = "row">
				<%= form_tag("/search", method: "get") do %>
						<div class ="col-xs-12 col-md-12 recipient-show " align="center" id="<%=@current_user.id%>">
							<p style="font-family:'Century Gothic', sans-serif; text-align: center;"align="center"> Choose for who:</p>
					   		<% if @recipients.count !=0 %>
					    	<%= collection_select(:user, :recipient_id , Recipient.all, :id, :name, {:prompt=>"Your recipients"})%>
					    </div>
					    <br>
					    <br>
					    <br>
					    <br>
					    <hr>
					    <div class='col-xs-12 col-md-12 ' align="center">
					    		<p style="font-family:'Century Gothic', sans-serif; text-align: center;"> Or add a new recipient</p>
						    	<a class="btn btn-danger btn-fab btn-raised mdi-content-add" id='addButton'>
					            <i class="material-icons"></i>
					           	</a>
					    </div>
					    <br>
					    <br>
					    <br>
					    <br>
					    <hr>
					    <div class="col-xs-12 col-md-12  occasion-show" align="center">
						    <p style="text-align: center;">Which occasion ? </p>
						    <%= select_tag(:occasion, options_for_select([['Birthday','Birthday'],['Wedding','Wedding'],['Christmas','Christmas'],['Thanksgiving','Thanksgiving'],['New year','New Year'],['Baby Shower', 'Baby Shower'], ['Wedding Shower', 'Wedding Shower']])) %>
	    				</div>
					    <% else %>
					    <div class="col-xs-12 col l12 recipient-show " id="<%=@current_user.id%>" align="center">
					    	<div class='col l12 col s12' id='noRecipient' align="center">
					    		<p style=" font-family:'Century Gothic', sans-serif; text-align: center;" >You have no recipients yet, create a new recipient</p>
					    	</div> 
					    	<br>
					    	<br>
					    	<hr>
					    	<br>
					   		<br>
					    	<div class='col-xs-12 col l12 ' align="center">
						    	<a class="btn btn-danger btn-fab btn-raised mdi-content-add" id='addButton'>
					            <i class="material-icons">+</i>
					           	</a>
					    	</div>
					    	<br>
					   	 	<br>
					   	 	<br>
					    	<br>
					    	<hr>
					    	<div class="col-xs-12 col l12 ">
						   		 <p style="text-align: center;">Which occasion ? </p>
						    	<%= select_tag(:occasion, options_for_select([['Birthday','Birthday'],['Wedding','Wedding'],['Christmas','Christmas'],['Thanksgiving','Thanksgiving'],['New year','New Year'],['Baby Shower', 'Baby Shower'], ['Wedding Shower', 'Wedding Shower']]), {:class =>"form-control"}) %>
	    					</div>
			     		</div>
					    <%end%>
					<div class="col-md-12 col-xs-12" align="center">
					<br>
					<br>
					<br>
						<div align="center" class='searching col s12 col l12 text-center'>
						<p style= " text-align: center;"> Search for : </p>
						  <%= text_field_tag :keyword,nil, placeholder: 'Search...your perfect gift', class: 'search', id:'ss' %>
						  <br>
						  <br>
						  <%= submit_tag "" , id:"search-button", class: "search-button" %>
						</div>
						
						
							
					</div>
					
				<% end %>
			
    		<div class="col s12 col-md-4  text-center" style="display:none" id='recipient-form'>
			        <%= form_for @recipient, url: "/users/#{@current_user.id}/recipients", :class => "recipientForm",method: "post", action: 'create',  remote: true do |f| %>
			            
			              <div class="input-field col s12 text-center">
			              <%= f.text_field :name, placeholder: "Recipient Name", :id => "first_name" , :class =>"validate" %>
			              </div>
			    
			          
			              <div class="input-field col s12 text-center">
			                <%= f.text_field :email, placeholder: "Recipient email", :id => "email" %>
			              </div>
			            
			            
			            <button id="addRecipient" class="btn btn-info btn-raised">Add recipient</button> 
			            <button id="cancelButton" class="btn btn-info btn-raised">Cancel</button>    
			      	<%end%>
    		</div>
			
		</div>
	</div>

	</body>
   
