<%= render partial: "/layouts/navbar" %>
​
<div class="container">
<div class="row">
	<div class="col-xs-12" align="center">
		<h1 id="user-welcome">Welcome, <%= @user.username.capitalize %></h1>
​
	</div>
</div>
<div class="row">
	<h1 class="view-recipient-here white-text" align="center">View your recipients here!</h2>
	<div class="row">
		<% if @recipients.count ==0 %>
		<div class="col-xs-3 col-xs-offset-3" align="center">
			<br>
			<p class="white-text">You have no recipients yet, create a new one!</p>
		</div>
		<div class="col-xs-3" align="center">
			<br>
			<a class="btn-floating btn-large waves-effect waves-light red" id='addButton'>
				<i class="material-icons">+</i>
			</a>
		</div>
		<% else %>
		<div class="col-xs-7 show-add-recip" align="right">
			<br>
			<h3 class="add-recip-text white-text">Add a recipient  </h3>
		</div>
		<div class="col-xs-3 show-add-recip" align="left">
			<br>
			<a class="btn-floating btn-large waves-effect waves-light btn-material-blue-800" id='addButton'>
				<i class="material-icons">+</i>
			</a>
		</div>
		<%end%>
	</div>
	<div class="col s12" style="display:none" id='recipient-form'>
		<%= form_for @recipient, url: "/users/#{@current_user.id}/recipients", :class => "recipientForm", method: "post", action: 'create',  remote: true do |f| %>
		<div class="row">
			<div class="input-field col s12">
				<%= f.text_field :name, placeholder: "Recipient Name", :id => "first_name" , :class =>"validate" %>
			</div>
		</div>
​
		<div class="row">
			<div class="input-field col s12">
				<%= f.text_field :email, placeholder: "Recipient email (Optional)", :id => "email" %>
			</div>
		</div>
		<div class="row add-recip-form" align="center">
		<button id="addRecipient" class="btn btn-material-blue-800 btn-info btn-raised add-recip-form">Add recipient</button> 
		<button id="cancelButton" class="btn btn-material-blue-800 btn-info btn-raised add-recip-form">Cancel</button> 
		</div>
		<%end%>
	</div>
​
</div>
</div>
<div class= "recipientList recipient-show" id="<%=@current_user.id%>">
<%if @recipients.count !=0 %>
	<% @recipients.each do |recipient|%>
	<div class="col-xs-4 col-sm-4 col-md-4"> 
    	<div class="thumbnail">
      		<div class="caption">
        		<h5 id="recipient-name" align="center">
        		<%= link_to "#{recipient.name.capitalize}'s Gifts", user_recipient_gifts_path(@user, recipient), :class => "recipient-name" %>
        		</h5>
       		</div>
     	</div>
    </div>	
<% end %>
<%end%>
</div>
  