<%= render partial: "/layouts/navbar" %>

<div class="container">
<div class="row">
	<div class="col-xs-8 col-xs-offset-2" align="center">
		<h1 id="user-welcome">Welcome, <%= @user.username.capitalize %></h1>

	</div>
</div>
<div class="row">
	<h1 class="gray-text" align="center">View your recipients here!</h2>
	<div class="row">
		<% if @recipients.count !=0 %>
		<%= collection_select(:user, :id , @recipients, :id, :name, {:prompt=>true}, {:class =>"form-control"})%>
		<% else %>
		<div class="col-xs-3 col-xs-offset-3" align="center">
			<br>
			<p class="gray-text">You have no recipients yet, create a new one!</p>
		</div>
		<div class="col-xs-3" align="center">
			<br>
			<a class="btn-floating btn-large waves-effect waves-light red" id='addButton'>
				<i class="material-icons">+</i>
			</a>
		</div>
		<%end%>

	</div>
	<h4 class="gray-text" align="center">For which occasion?</h2>
	<div align="center">

		<%= select_tag(:occasion, options_for_select([['Birthday',1],['Wedding',2],['Christmas',3],['Thanksgiving',4],['New year',5]]), {:class =>"form-control"}) %>
	</div>
	<div class="col s12" style="display:none" id='recipient-form' >

		<%= form_for @recipient, url: "/users/#{@current_user.id}/recipients", :class => "recipientForm", method: "post", action: 'create',  remote: true do |f| %>
		<div class="row">
			<div class="input-field col s6">
				<%= f.text_field :name, placeholder: "Recipient Name", :id => "first_name" , :class =>"validate" %>
			</div>

		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.text_field :email, placeholder: "Recipient email", :id => "email" %>
			</div>
		</div>

		<button id="addRecipient" class="btn btn-info btn-raised">Add recipient</button> 
		<button id="cancelButton" class="btn btn-info btn-raised">Cancel</button>  
		<%end%>

	</div>
	
</div>
</div>
<% @recipients.each do |recipient|%>
	<%= link_to "#{recipient.name}", "/users/#{@user.id}/recipients/#{recipient.id}/gifts" %>
<% end %>
  
