<%= render partial: "/layouts/navbar" %>


	<div class = "recipient-name" align="center">
		<h2 class="gifts-for-recip"> Gifts for <%= @recipient.name%> <h2>
	</div>


  <%@recipient_gifts.each do |gift|%>
  <div class="col-xs-12 col-sm-6 col-md-4"> 
    <div class="thumbnail showing">
      <h5 class = "occasion"><%=gift.occasion%></h5>
      <img src="<%=Gift.find(gift.gift_id).imageUrl%>">
      <div class="caption">
        <h5 id="gift-title"><%=Gift.find(gift.gift_id).name%></h5>
        <p class='price'>$<%=Gift.find(gift.gift_id).price%></p>
      	<% des = Gift.find(gift.gift_id).description%>
      	<% des = truncate(des, :length => 200, :separator => ".")%>
        <p><%= des %></p>
        <p align="center">
          <%= link_to "Buy Now", "#{Gift.find(gift.gift_id).link}", :class => "btn btn-md btn-primary btn-material-blue-800 sButton"%>
          <%= link_to "Remove", user_recipient_gift_path(@user, @recipient, gift), method: :delete, action: :destroy, :class => "btn btn-md btn-primary btn-material-blue-800 sButton"%>
        </p>
      </div>
    </div>
  </div>

	<%end %>

